#container {
    padding-top:50px;
    width:400px;
    margin: 0 auto;
    font-size:1.5rem;
}
input {
    width: 100%;
    display:block;
    padding: 5px;
    font-size: 1.1rem;
    box-sizing: border-box;
}
label {
    margin-top:10px;
    display:block;
}
#submit, #submit:focus {
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
    color: white;
    background-color: #2084ba;
    border: none;
}
        
.error {
    color: white;
    background-color: indianred;
    opacity: 0.7;
    padding: 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
}